[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/rlImGui"]
	path = libs/rlImGui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "libs/scg-core"]
	path = libs/scg-core
	url = https://github.com/tserikawa/scg-core.git
